.grid {
  display: inline-block;
  border: 1px solid #fff;
  padding: 1px;
}

.row {
  margin: 0;
}

.cell {
  display: inline-block;
  margin: 1px;
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.transparent {
  background-color: transparent;
}
